<section class="bg-primary py-10 md:py-24">
    <div class="container relative">
        <div class="px-2">
            <div class="flex -mx-2 items-stretch">
                {% for block in complaints.complaintsColumns.type('columns').all() %}
                <div class="px-2 w-1/4 flex">
                    <div class="{% if block.backgroundColour != '' %}bg-{{ block.backgroundColour }} p-8{% endif %} rounded rounded-sm flex flex-col items-start">
                        {% set image = block.icon.one() %}
                        {% if image|length %}
                            <img height="50" class="mb-4" src="{{ image.getUrl() }}" alt="{{ image.title }}">
                        {% endif %}
                        {{ block.text }}
                        {% if block.buttonText %}
                            <a class="btn btn-solid" href="{{ block.buttonLink }}">{{ block.buttonText }}</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>