{% cache globally for 7 days %}
    <footer id="footer" class="bg-white theme-light">
        <div class="container py-10">
            <div class="-mx-3 flex tems-center justify-between">
                <div class="mb-4 md:mb-0 flex items-center flex-col md:flex-row">
                    <img class="h-10 md:h-20" src="/assets/img/logo.svg" alt="Office of the health ombudsman"/>
                </div>
                <div class="px-3">
                    <a href="#" class="btn btn-orange mr-4">Make a complaint</a>
                    <a href="#" class="btn btn-solid">133 OHO (133 646)</a>
                </div>
            </div>
        </div>

        <div class="container py-8">
            <div class="-mx-3 flex flex-wrap">
                <div class="px-3 md:flex-1 w-1/2 md:w-full">
                    {% set pages = craft.entries.section('pages').all() %}
                    <ul class="">
                        {% nav node in pages %}
                            {% if node.footerColumnOneNavigation %}
                                <li class="w-full">
                                    <a class="w-full py-2 px-3 hover:bg-light rounded-sm text-base block {% if node.footerNavigationClasses %}{{ node.footerNavigationClasses }}{% endif %}" href="{{ node.url }}">
                                        {{ node.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endnav %}
                    </ul>
                </div>
                <div class="px-3 md:flex-1 w-1/2 md:w-full">
                    <ul class="">
                    {% nav node in pages %}
                        {% if node.footerColumnTwoNavigation %}
                            <li class="w-full">
                                <a class="w-full py-2 px-3 hover:bg-light rounded-sm text-base block {% if node.footerNavigationClasses %}{{ node.footerNavigationClasses }}{% endif %}" href="{{ node.url }}">
                                    {{ node.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    </ul>
                </div>
                <div class="px-3 md:flex-1 w-1/2 md:w-full">
                    {% nav node in pages %}
                        {% if node.footerColumnThreeNavigation %}
                            <li class="w-full">
                                <a class="w-full py-2 px-3 hover:bg-light rounded-sm text-base block {% if node.footerNavigationClasses %}{{ node.footerNavigationClasses }}{% endif %}" href="{{ node.url }}">
                                    {{ node.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endnav %}
                </div>
                <div class="px-3 md:flex-1 w-1/2 md:w-full">
                    {% nav node in pages %}
                        {% if node.footerColumnFourNavigation %}
                            <li class="w-full">
                                <a class="w-full py-2 px-3 hover:bg-light rounded-sm text-base block {% if node.footerNavigationClasses %}{{ node.footerNavigationClasses }}{% endif %}" href="{{ node.url }}">
                                    {{ node.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endnav %}
                </div>
            </div>
        </div>
    </footer>

    <div class="bottomFooter bg-light py-8">
        <div class="container flex items-center justify-between">
            {% set pages = craft.entries.section('pages').all() %}
            <ul class="md:flex">
                <li class="my-2 mx-1 group relative">
                    <a class="py-1 px-2 block hover:bg-light rounded-sm text-sm relative" href="/">&copy; Office of the Health Ombudsman</a>
                </li>
                {% nav node in pages %}
                    {% if node.bottomFooterNavigation %}
                        <li class="my-2 mx-1 group relative">
                            <a class="py-1 px-2 block hover:bg-light rounded-sm text-sm relative" href="{{ node.url }}">{{ node.title }}</a>
                        </li>
                    {% endif %}
                {% endnav %}
            </ul>
            <p class="justify-end"><a class="py-1 px-2 block hover:bg-light rounded-sm text-sm relative" href="http://newwordorder.com.au" target="_blank">Site by NWO</a></p>
        </div>
    </div>
{% endcache %}