<section class="py-8 hidden searchContainer relative">
    <i class="fas fa-times absolute closeSearch text-lg hover:cursor-pointer" style="top: 20px;right: 20px;"></i>
    <div class="container mx-auto text-center">
        <form action="{{ url('search/results') }}" class="w-3/4 md:w-1/2 mx-auto">
            <div class="w-full flex flex-row">
                <input class="p-2 w-full border border-navy-200 border-r-0 rounded-md rounded-r-none" type="search" name="q" placeholder="Search">
                <input class="py-4 px-8 bg-orange text-white rounded-r-md" type="submit" value="Search">
            </div>
        </form>
    </div>
</section>

<header class="z-40 md:relative w-full top-0 shadow-lg">

    {# TOP BANNER #}

    <div class="py-4 z-10 bg-white relative">
    
    {# SECONDARY MENU #}

        <nav class="hidden lg:flex container mx-auto px-3 items-center justify-between">
            <a class="mr-3" href="/">
                <img class="h-5 md:h-20" src="/assets/img/logo.svg" alt="Office of the health ombudsman"/>
            </a>
            <div class="flex flex-col">

                {% set nodes = craft.navigation.nodes(header.secondaryMenu).level(1).all() %}

                <ul class="md:flex ml-auto justify-end items-center content-center space-x-4">
                    <div id="google_translate_element" style="margin-top: 10px;"></div>
                    {% nav node in nodes %}
                        {% if node %}
                            <li class="group relative">
                                <a class="p-2 block hover:bg-light rounded-sm text-sm uppercase relative" href="{{ node.url }}">{{ node.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    <li class="group relative">
                        <a class="p-2 block hover:bg-light rounded-sm text-sm uppercase relative triggerSearch" href="#">Search</a>
                    </li>
                </ul>

                {% set nodes = craft.navigation.nodes(header.primaryMenu).level(1).all() %}
                <ul class="hidden md:flex ml-auto justify-end items-center my-2">
                    {% nav node in nodes %}
                        {% if node %}
                            <li class="group relative mr-4">
                                <a class="block hover:bg-light rounded-sm text-xl relative font-bold {% if node.classes %}{{ node.classes }}{% else %}py-1 px-2{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                </ul>
            </div>
        </nav>
        {# Mobile NAV #}
        <div class="flex block lg:hidden justify-between px-8 items-center">
            <a href="/">
                <img class="h-10 md:h-20 mx-auto" src="/assets/img/logo.svg" alt="Office of the health ombudsman"/>
            </a>
            <button style="outline:0;" class="hamburger hamburger--collapse outline-none" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button> 
        </div>
        <nav class="hidden px-8 mobileNav">
            {% set nodes = craft.navigation.nodes(header.primaryMenu).level(1).all() %}
            <ul class="flex flex-col my-2">
                {% nav node in nodes %}
                    {% if node %}
                        <li class="group relative">
                            <a class="block hover:bg-light rounded-sm text-xl relative font-bold {% if node.classes %}{{ node.classes }}{% else %}py-1 px-2{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                        </li>
                    {% endif %}
                {% endnav %}
            </ul>
            {% set nodes = craft.navigation.nodes(header.secondaryMenu).level(1).all() %}

            <ul class="md:flex ml-auto justify-end content-center">
                <div id="google_translate_element" style="margin-top: 10px;"></div>
                {% nav node in nodes %}
                    {% if node %}
                        <li class="my-2 mx-1 group relative">
                            <a class="py-1 px-2 block hover:bg-light rounded-sm text-sm uppercase relative" href="{{ node.url }}">{{ node.title }}</a>
                        </li>
                    {% endif %}
                    <li class="my-2 mx-1 group relative">
                        <a class="p-2 block hover:bg-light rounded-sm text-sm uppercase relative triggerSearch" href="#">Search</a>
                    </li>
                {% endnav %}
            </ul>
        </nav>
    </div>
</header>

