{% extends "/_layouts/site" %}

{% block main %}

    {% include '/_partials/page-header' %}

    {% set childPage = false %}
    {% set prev = entry.prevSibling %}
    {% set next = entry.nextSibling %}

    {% if entry.getParent | length %}
        <section class="bg-white border-none">
            <div class="md:max-w-3xl mx-auto pt-8 flex justify-between space-x-8">
                {% if prev | length and prev.enabled %}
                    <a class="btn btn-solid flex items-center" href="{{ prev.url }}">
                        <i class="fas fa-chevron-circle-left mr-4"></i>{{ prev.title }}
                    </a>
                {% endif %}
                {% if next | length and next.enabled %}
                    <a class="btn btn-solid flex items-center ml-auto" href="{{ next.url }}">
                        {{ next.title }}<i class="fas fa-chevron-circle-right ml-4"></i>
                    </a>
                {% endif %}
            </div>
        </section>
        {% set childPage = true %}
    {% endif %}

    {% if entry.type == 'contactUs' %}

        <section class="bg-light py-24">
            <div class="md:max-w-3xl mx-auto">
                <h2 class="text-4xl font-bold text-center">Contact us</h2>
                {% set blocks = entry.contactUsMatrix.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                        <div class="flex flex-row py-8">
                            <i class="{{ block.icon.value }} text-6xl mr-8 mt-4"></i>
                            <div>
                                <h3>{{ block.heading }}</h3>
                                <div class="richText">
                                    {{ block.text }}
                                </div>
                            </div>
                        </div>
                        {% if not loop.last %}
                            <div class="bg-dark" style="height: 1px;"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>

    {% else %}
        {% include '/_partials/layout-builder' with { childPage: childPage } %}
    {% endif %}
{% endblock %}