{% extends "/_layouts/site" %}

{% block main %}

    {% include '/_partials/page-header' %}

    {% set childPage = false %}
    {% set prev = entry.prevSibling %}
    {% set next = entry.nextSibling %}

    {% if entry.type == 'contactUs' %}

        <section class="bg-light py-24">
            <div class="md:max-w-3xl mx-auto">
                <h2 class="text-4xl font-bold text-center">Contact us</h2>
                {% set blocks = entry.contactUsMatrix.all() %}
                {% if blocks|length %}
                    {% for block in blocks %}
                        <div class="flex flex-row justify-between py-8">
                            <div class="w-1/12">
                                <i class="{{ block.icon.value }} text-4xl mt-4"></i>
                            </div>
                            <div class="w-11/12">
                                <h3>{{ block.heading }}</h3>
                                <div class="richText">
                                    {{ block.text }}
                                </div>
                            </div>
                        </div>
                        {% if not loop.last %}
                            <div class="bg-dark" style="height: 1px;"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>

    {% else %}
        {% include '/_partials/layout-builder' with { childPage: childPage } %}
    {% endif %}

    {% set entries = craft.entries()
        .siblingOf(entry)
        .all() %}

    {% if entries | length and entry.level >= 2 %}
    <section class="py-8 lg:py-16">
        <div class="container mx-auto">
            <h3>Related pages </h3>
            <div class="grid grid-cols-4 gap-8">
                {% for entry in entries %}
                    <a href="{{ entry.url }}" class="block rounded bg-white shadow hover:shadow-lg p-8 transition-all rounded overflow-hidden">
                        <h5><strong>{{ entry.title }}</strong></h5>
                        <p>{{ entry.pageIntroduction }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}