{% extends "/_layouts/site" %} {% block main %}

<section class="section-bg-lightGrey relative theme-light">
    <div class="relative py-10  md:py-24 z-10">
        <div class="container mx-auto px-3">
            <div class="md:w-1/2 md:pr-20 lg:pr-32">
                <ul class="flex mb-3 text-xs uppercase font-bold text-navy-800">
                    <li ><a href="/" class="opacity-70 hover:opacity-100">Home</a><span class="px-2 opacity-50">/</span></li> 
                </ul>
                <h1 class="text-3xl md:text-5xl font-bold mb-4">Search results</h1>
                <span class="block bg-teal-500 h-2px w-20 border-0 m-0" ></span>
                {% set searchQuery = craft.app.request.getParam('q') %}
                {% set entries = craft.entries()
                    .search(searchQuery)
                    .orderBy('score')
                    .section('and, not downloads')
                    .all() %}
                <p class="text-xl mt-4">{{ entries|length }} results for: “{{ searchQuery }}”</p>
           
            </div>
        </div>
    </div>
 
</section>
<section class="section theme-light section-bg-white py-10 md:py-24 ">

    <div class="relative container mx-auto px-3">
 
        {% if entries|length %}
            

            <ul>
                {% for entry in entries %}
                    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your search for “{{ searchQuery }}” didn’t return any results.</p>
        {% endif %}
    </div>


</section> 


{% endblock %}  