{% extends "/_layouts/site" %} {% block main %}

{% include '/_partials/page-header' %}

<section class="section theme-light section-bg-white py-10 md:py-24 ">

    {% for block in entry.newsContent.all() %}
        {% switch block.type.handle %}
            {% case 'richText' %}
                <div class="container mx-auto px-3 mb-8">
                    <div class="md:max-w-2xl mx-auto richtext"> 
                        {{ block.richText | markdown }}
                    </div>
                </div>
            {% case 'image' %}    
                <div class="container mx-auto px-3 mb-8">
                    <div class="md:max-w-4xl mx-auto "> 
                        <figure>
                            {% set ImageVar = block.image.one() %}
                            {% set baseWidth = ImageVar.getWidth() / 3 %}
                            {% set baseHeight = ImageVar.getHeight() / 3 %}
                            
                            <img class="rounded object-cover w-full h-full"
                            data-srcset=" 
                            {{ ImageVar.getUrl({ width: baseWidth, height: baseHeight }) }} 1x,
                            {{ ImageVar.getUrl({ width: baseWidth*2, height: baseHeight*2 }) }} 2x,
                            {{ ImageVar.getUrl({ width: baseWidth*3, height: baseHeight*3 }) }} 3x"
                            src="
                            {{ ImageVar.getUrl({ width: baseWidth, height: baseHeight }) }}
                            "
                            alt="{{ ImageVar.title }}"
                            >
                            
                            {% if block.caption %}
                            <figcaption class="text-sm text-gray-500 mt-4">
                                {{ block.caption }}
                            </figcaption>
                            {% endif %}
                        </figure>   
                        
                    </div>
                </div>
            {% case 'blockquote' %}
                <div class="container mx-auto px-3 mb-8">
                    <div class="md:max-w-2xl mx-auto">
                        <blockquote>
                            <span></span>
                            <p class="text-2xl text-navy-500">{{ block.quote }}</p>
                            <span class="w-16 h-2px bg-teal-500 inline-block mb-3"></span>
                            <footer class="text-sm font-bold uppercase text-navy-700">{{ block.cite }}</footer>
                        </blockquote> 
                        
                    </div>
                </div>     
        {% endswitch %}    
    {% endfor %}

</section>
<section class="section theme-light section-bg-lightGrey py-10 md:py-24 ">
    <div class="relative container mb-8 text-center">
        <h2>Related news</h2>
    </div>

    {% set newsEntries = craft.entries().section('news').limit(3)   %}
    <div class="relative container">
        <div class="flex flex-wrap -mx-3">
           
            {% for entry in newsEntries.all %}
                <div class="w-full md:w-1/3 p-3">
                    <a href="{{ entry.url }}">
                        <article class="group w-full h-full rounded bg-white shadow hover:shadow-lg  transition-all rounded overflow-hidden">
                            <div class="relative h-0 aspect-ratio-landscape overflow-hidden bg-gray-200">
                            {% if entry.featureImage.one() %}
                                {% set image = entry.featureImage.one() %}
                                {% set full = (image.width > 2000) ? 2000 : image.width %}
                                {% set half = (full / 2)|round %}
                                {% set fourth = (full / 4)|round %}
                                
                                    <img class="lazyload absolute inset-0 object-cover w-full h-full scale-100 group-hover:scale-110 transition-all" src="{{ image.url({ width: half }) }}" alt=""
                                        data-srcset="{{ image.url({ width: fourth }) }} {{ fourth }}w,
                                                {{ image.url({ width: half }) }} {{ half }}w,
                                                {{ image.url({ width: full }) }} {{ full }}w"
                                        sizes="(min-width: {{ half + 1 }}px) {{ full }}px,
                                                (min-width: {{ fourth + 1 }}px) {{ half }}px,
                                                100vw"
                                    > 
                                
                            {% endif %}
                            </div>
                            <div class="p-6">
                                <h5>{{ entry.title }}</h5>
                                <p class="text-sm">{{ entry.postDate | date("M d, Y") }}</p>
                            </div>
                        </article>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

</section> 

{% endblock %} 