{% spaceless %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="antialiased">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>
      {% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />

    {% cache globally for 3 weeks %}
        {% if trackingCodes.headerCodes %}
          {{ trackingCodes.headerCodes|raw }}
        {% endif %}
    {% endcache %}

      {% do view.registerCssFile("/dist/styles.css") %}
      {% do view.registerCssFile("/fontawesome/css/all.css") %}
      {% do view.registerJsFile('/fontawesome/js/all.js') %}

      <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">

      <link rel="stylesheet" href="https://use.typekit.net/iwi6una.css">

      <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/dist/swiper.css">

      <script src="/dist/js/swiper.js"></script>

      <link rel="stylesheet" href="/dist/swiper.css">

      <script src="https://kit.fontawesome.com/636c179e8c.js" crossorigin="anonymous"></script>


    {% block head %}{% endblock %}

 </head>
 <body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} font-body">

 {% if alerts.alertText %}
     <div class="w-full text-center bg-red text-white text-lg p-4">
         <p class="mb-0 leading-none">{{ alerts.alertText }}</p>
     </div>
 {% endif %}

  {% cache globally for 3 weeks %}
    {% if trackingCodes.bodyCodes %}
      {{ trackingCodes.bodyCodes|raw }}
    {% endif %}
  {% endcache %}
   {% block body %}{% endblock %}

   {% do view.registerJsFile("/dist/main.js") %}

   {% block foot %}{% endblock %}


  {% cache globally for 3 weeks %}
    {% if trackingCodes.footerCodes %}
      {{ trackingCodes.footerCodes }}
    {% endif %}
  {% endcache %}

 <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

 <style>
          .goog-logo-link {
              display:none !important;
          }

          .goog-te-gadget{
              color: transparent !important;
          }
      </style>
 </body>
</html>
{% endspaceless %}