{% extends "/_layouts/site" %} {% block main %}

    <div class="swiper-container theme-light relative border-b-8 border-orange h-72 lg:h-128">

        <img class="hidden lg:block absolute z-10 right-0" style="top:100px;" src="/assets/img/slideshow-shapes.svg">

        <div class="swiper-wrapper h-full">
            <!-- Slides -->
            {% for block in entry.slideshow.all() %}
                {% if block.type == "slideshow" %}
                    <div class="swiper-slide">
                        {% set image = block.image.one() %}
                        {% set transformedImages = craft.imager.transformImage(image,
                            [
                                { width: 3000 },
                                { width: 2000 }
                            ],
                            {
                                format: 'jpg',
                                allowUpscale: true,
                                mode: 'crop',
                                jpegQuality: 80,
                                interlace: true,
                                position: image.getFocalPoint()
                            }
                            ) %}
                        <img class="absolute lazyload object-cover w-full h-full pointer-events-none"
                             src="{{ craft.imager.base64Pixel(2,1) }}"
                             data-sizes="auto"
                             data-srcset="{{ craft.imager.srcset(transformedImages) }}"
                             alt="{{ image.title }}"
                        >
                        <div class="absolute w-1/2 h-full bg-gradient-l-white inset-0"></div>
                        <div class="container mx-auto py-10 py-16 md:py-48 px-4 h-full relative flex items-center">
                            <div class="md:w-1/2 md:pr-24">
                                <h1 class="text-4xl lg:text-6xl font-bold leading-none mb-8">{{ block.slideshowText }}</h1>
                                <a href="{{ block.buttonLink }}" class="btn btn-solid text-lg">{{ block.buttonText }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev hidden md:block"></div>
        <div class="swiper-button-next hidden md:block"></div>

        <!-- If we need scrollbar -->
    </div>

{% include '/_partials/layout-builder' %}

    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        })
    </script>

{% endblock %}