{% if module.type.handle == 'columns' %}
    <div class="container relative">
        <div class="flex flex-wrap -mx-2">
            {% set relatedEntries = module.entry.with(['featureImage'],['icon'],['pageIntroduction'],['title'],['url']).all() %}
                {% if relatedEntries|length %}

                        {% for rel in relatedEntries %}
                            <div class="w-full {% if module.columnsPerRow == "3" %}md:w-1/3{% endif %}{% if module.columnsPerRow == "2" %}md:w-1/2{% endif %}{% if module.columnsPerRow == "4" %}md:w-1/4{% endif %} p-3">
                            <a href="{{ rel.url }}"  aria-label="{{ rel.title }}">
                                <article class="group w-full h-full  transition-all rounded overflow-hidden">
                                {% if module.cardMedia == "image" %}

                                    {% if rel.featureImage %}

                                        {% set image = rel.featureImage[0] %}
                                        {% set full = (image.width > 2000) ? 2000 : image.width %}
                                        {% set half = (full / 2)|round %}
                                        {% set fourth = (full / 4)|round %}
                                        <div class="relative h-0 aspect-ratio-landscape rounded overflow-hidden">
                                            <img class="lazyload absolute inset-0 object-cover w-full h-full scale-100 group-hover:scale-110 transition-all" src="{{ image.url({ width: half }) }}" alt=""
                                                data-srcset="{{ image.url({ width: fourth }) }} {{ fourth }}w,
                                                        {{ image.url({ width: half }) }} {{ half }}w,
                                                        {{ image.url({ width: full }) }} {{ full }}w"
                                                sizes="(min-width: {{ half + 1 }}px) {{ full }}px,
                                                        (min-width: {{ fourth + 1 }}px) {{ half }}px,
                                                        100vw"
                                            >
                                        </div>
                                    {% endif %}

                                {% endif %}
                                    <div class="pt-6">
                                    {% if module.cardMedia == "icon" %}
                                        {% if rel.icon %}
                                        {% set image = rel.icon[0] %}
                                        <div class="relative h-0 h-16 w-16 overflow-hidden mb-4">
                                            <div class="absolute inset-0 flex items-center">
                                            <img class="lazyload w-full h-full max-w-16 max-h-16" src="{{ image.url() }}" alt=""
                                                data-src="{{ image.url() }}"

                                            >
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}

                                            <h4>{{ rel.title }}</h4>
                                            <p>{{ rel.pageIntroduction }}</p>

                                    </div>
                                </article>
                            </a>
                            </div>
                        {% endfor %}
                {% endif %}
        </div>
    </div>
{% endif %}