{% if module.type.handle == 'image' %}
    {% if module.image.one() %}
    <div class="container relative">
        <div class="md:max-w-4xl mx-auto "> 
            <figure>
                {% set image = module.image.one() %}
                
                <img class="lazyload rounded object-cover w-full h-full"
                     src="{{ image.getUrl() }}"
                     data-sizes="100vw"
                     data-srcset="
                        {{ image.getUrl('xl') }} 2000w,
                        {{ image.getUrl('lg') }} 1000w.
                        {{ image.getUrl('md') }} 700w,
                        {{ image.getUrl('sm') }} 500w,
                        {{ image.getUrl('xs') }} 250w
                     "
                     alt="{{ image.title }}"
                >
                
                {% if module.caption %}
                <figcaption class="text-sm text-gray-500 mt-4">
                    {{ module.caption }}
                </figcaption>
                {% endif %}
            </figure>   
            
        </div>
    </div> 
    {% endif %}
{% endif %}    