<div class="container mx-auto relative">
    {% if module.siteSections|length %}

        <div class="flex flex-col md:grid md:grid-cols-2 md:gap-8">
            {% for block in module.siteSections.all() %}
                <div class="w-full flex mb-8 md:mb-0">
                    <div class="section-bg-{{ block.sectionBackgroundColour }} flex">
                        <div class="flex justify-between">
                            <div class="p-8 w-2/3 flex flex-col flex-stretch items-start">
                                <p class="text-white">{{ block.sectionTitle }}</p>
                                <h3 class="font-bold text-white">{{ block.sectionDescription }}</h3>
                                {% set rel = block.relatedPage.one() %}
                                {% if rel %}
                                    <a href="{{ rel.url }}" class="btn btn-white mt-auto">Learn more</a>
                                {% endif %}
                            </div>
                            <div class="flex items-end">
                                {% set image = block.sectionIcon.one() %}

                                <img class="lazyload rounded object-cover w-full"
                                 src="{{ image.getUrl() }}"
                                 alt="{{ image.title }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>