{% if module.type.handle == 'tiles' %}

    <div class="w-full px-4">
        <div class="w-full relative" style="height: 368px;">
            <div class="flex flex-col flex-stretch items-start p-8 w-1/2 h-full">
                <p class="relative text-sm text-white z-10">{{ module.tileSubTitle }}</p>
                <h3 class="relative font-bold text-white z-10">
                    {{ module.tileTitle }}
                </h3>
                <a {% if module.tileNewWindow %}target="_blank"{% endif %} href="{{ module.tileUrl }}" class="btn btn-white mt-auto align-bottom relative z-10 align-bottom">
                    {{ module.tileButtonText }}
                </a>
            </div>

            {% set image = module.image.one() %}
            <img class="lazyload w-full h-full object-cover absolute inset-0 z-0"
                 src="{{ image.getUrl() }}"
                 data-sizes="100vw"
                 data-srcset="{{ image.getUrl('lg') }} 1000w, {{ image.getUrl('md') }} 700w,"
                 alt="{{ image.title }}"
            >
        </div>
    </div>

{% endif %}    